# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages/client/.pnp
/packages/client/.pnp.js
**/node_modules/*

# testing
**/coverage

# production
**/build/
**/dist/

# misc
**/.DS_Store
**/.swp
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.idea/

**/*.log*
/packages/server/src/app/serviceAccountKey.json
/packages/client/src/firebase-config.json
/packages/server/lib/
