@import "../../styles/Colors";

.root {
  margin-top: 32px;

  .header {
    display: flex;
    margin-bottom: 32px;

    h1 {
      flex: 1;
      margin: 0;
    }

    .btn {
      color: #383838;
      background-color: transparent;
      outline: none;
      border: 0;
      border-radius: 0;
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
